.userInfo {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e7e8ec;
}

.leftBarInfo {
    display: flex;

}

.rightBarInfo {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*padding: 10px;*/
    /*width: 500px;*/
}

.infoBlock {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userInfoBlock {
    margin-left: 10px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.name {
    font-size: 13px;
    font-weight: 700;
    color: #2a5885;
    cursor: pointer;
}

.name:hover {
    text-decoration: underline;
}

.userPhotoWrapper,
.userPhoto{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.btn {
    margin-top: 10px;
    width: 135px;
    padding: 7px 16px 8px;
    cursor: pointer;
    background-color: #5181b8;
    border: 0;
    border-radius: 4px;
    color: white;
    line-height: 11px;
    font-size: 12.5px;
}


.btn:disabled,
.btn[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
